.centerbox
  %h1 Welcome to Webby!
  %p We're happy to see you.

%br
%br

.centerbox
  %h2= link_to "Locations", '/locations'
  %p Check out some rad saved locations
  
.centerbox
  %h2= link_to "DuckDuckGo Queries", '/duckduckgo_queries'
  %p Someday this will work!
  
.centerbox
  %h2= link_to "Twitter Queries", '/twitter_queries'
  %p Someday this will work!
