.container {clear:both;}
.left {float:left;}
.right {float:right;}

.centerbox {
  background-color:white;
  opacity:0.7;
  clear:both;
  position:relative;
  top:10%;
  margin:0px auto;
  border:1px solid gray;
  width:600;
  text-align:center;
  padding-bottom:16px;
}

html body {
  font-family: Galdeano, Arial, serif;
  margin-top:0px;
  margin-left:auto;
  margin-right:auto;
  padding:0px;
}

body {
  width:1000;
  height:800;
  background-position:center top;
  background-image:url('/images/background.jpg');
  background-repeat:no-repeat;
  background-color:black;
}

td, th {
  text-align:left;
  vertical-align:top;
}

#nav {
  width:100%;
  height:20px;
  background-color:black;
  opacity:0.6;
  color:white;
  border-bottom:1px solid gray;
}

a {
  opacity:1;
  text-decoration:none;
}

#nav a {
  color:yellow;
}

#floater {
  padding:10px;width:300px;height:200px;
  position:absolute;right:20px;bottom:20px;z-index:99;
  border:1px solid black;background-color:white;
  opacity:0.6;
}

#map_canvas {
  position:relative; height:100%;
}

/* TODO : add more styles here to support features */
